In [156]:
import random
import pandas as pd
import numpy as np
import scipy.stats as ss
import seaborn as sns
from matplotlib import pyplot as plt
from feature_engine.encoding import OrdinalEncoder
from sklearn.neighbors import KNeighborsClassifier as KNN
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.model_selection import train_test_split, RepeatedStratifiedKFold, cross_val_score

In [13]:
data = pd.read_pickle('../data/aus_weather_cln.pkl')
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.900000,0.6,1.4,9.5,0.073518,44.0,0.062725,...,71.0,22.0,1007.7,1007.1,8.0,4.0,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.100000,0.0,0.8,0.3,0.060821,44.0,0.059164,...,44.0,25.0,1010.6,1007.8,7.0,0.0,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.700000,0.0,6.2,4.7,0.067063,46.0,0.062725,...,38.0,30.0,1007.6,1008.7,0.0,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.000000,0.0,3.8,3.0,0.052729,24.0,0.068892,...,45.0,16.0,1017.6,1012.8,4.0,3.0,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.300000,1.0,3.6,11.6,0.073518,41.0,0.058243,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.400000,0.0,5.0,10.8,0.068074,31.0,0.068892,...,51.0,24.0,1024.6,1020.3,8.0,7.0,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.300000,0.0,5.4,5.6,0.048900,22.0,0.068892,...,56.0,21.0,1023.5,1019.1,4.0,7.0,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.900000,0.0,3.2,0.0,0.068747,37.0,0.068892,...,53.0,24.0,1021.0,1016.8,4.0,0.0,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.000000,0.0,1.6,6.6,0.069847,28.0,0.067737,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,30.383195,0.0,8.0,10.9,0.068074,54.0,0.056359,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,Yes

In [14]:
data['Date'] = pd.to_datetime(data['Date'])

In [15]:
data['RainToday'] = data['RainToday'].apply(lambda x: 1 if x == 'Yes' else 0)
data['RainTomorrow'] = data['RainTomorrow'].apply(lambda x: 1 if x == 'Yes' else 0)
data[['RainToday', 'RainTomorrow']]

        RainToday  RainTomorrow
0               0             0
1               0             0
2               0             0
3               0             0
4               0             0
...           ...           ...
145455          0             0
145456          0             0
145457          0             0
145458          0             0
145459          0             1

[145460 rows x 2 columns]

In [16]:
data['Year'] = data['Date'].dt.year
data['Month'] = data['Date'].dt.month
data['Quarter'] = data['Date'].dt.quarter
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year,Month,Quarter
0,2008-12-01,Albury,13.4,22.900000,0.6,1.4,9.5,0.073518,44.0,0.062725,...,1007.1,8.0,4.0,16.9,21.8,0,0,2008,12,4
1,2008-12-02,Albury,7.4,25.100000,0.0,0.8,0.3,0.060821,44.0,0.059164,...,1007.8,7.0,0.0,17.2,24.3,0,0,2008,12,4
2,2008-12-03,Albury,12.9,25.700000,0.0,6.2,4.7,0.067063,46.0,0.062725,...,1008.7,0.0,2.0,21.0,23.2,0,0,2008,12,4
3,2008-12-04,Albury,9.2,28.000000,0.0,3.8,3.0,0.052729,24.0,0.068892,...,1012.8,4.0,3.0,18.1,26.5,0,0,2008,12,4
4,2008-12-05,Albury,17.5,32.300000,1.0,3.6,11.6,0.073518,41.0,0.058243,...,1006.0,7.0,8.0,17.8,29.7,0,0,2008,12,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.400000,0.0,5.0,10.8,0.068074,31.0,0.068892,...,1020.3,8.0,7.0,10.1,22.4,0,0,2017,6,2
145456,2017-06-22,Uluru,3.6,25.300000,0.0,5.4,5.6,0.048900,22.0,0.068892,...,1019.1,4.0,7.0,10.9,24.5,0,0,2017,6,2
145457,2017-06-23,Uluru,5.4,26.900000,0.0,3.2,0.0,0.068747,37.0,0.068892,...,1016.8,4.0,0.0,12.5,26.1,0,0,2017,6,2
145458,2017-06-24,Uluru,7.8,27.000000,0.0,1.6,6.6,0.069847,28.0,0.067737,...,1016.5,3.0,2.0,15.1,26.0,0,0,2017,6,2
145459,2017-06-25,Uluru,14.9,30.383195,0.0,8.0,10.9,0.068074,54.0,0.056359,...,1017.9,8.0,8.0,15.0,20.9,0,1,2017,6,2

In [6]:
data.set_index('Date', inplace=True)
data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year,Month,Quarter
Date,,,,,,,,,,,,,,,,,,,,,
2008-12-01,Albury,13.4,22.900000,0.6,1.4,9.5,0.073518,44.0,0.062725,0.062739,...,1007.1,8.0,4.0,16.9,21.8,0,0,2008,12,4
2008-12-02,Albury,7.4,25.100000,0.0,0.8,0.3,0.060821,44.0,0.059164,0.067469,...,1007.8,7.0,0.0,17.2,24.3,0,0,2008,12,4
2008-12-03,Albury,12.9,25.700000,0.0,6.2,4.7,0.067063,46.0,0.062725,0.067469,...,1008.7,0.0,2.0,21.0,23.2,0,0,2008,12,4
2008-12-04,Albury,9.2,28.000000,0.0,3.8,3.0,0.052729,24.0,0.068892,0.059989,...,1012.8,4.0,3.0,18.1,26.5,0,0,2008,12,4
2008-12-05,Albury,17.5,32.300000,1.0,3.6,11.6,0.073518,41.0,0.058243,0.060876,...,1006.0,7.0,8.0,17.8,29.7,0,0,2008,12,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-06-21,Uluru,2.8,23.400000,0.0,5.0,10.8,0.068074,31.0,0.068892,0.055685,...,1020.3,8.0,7.0,10.1,22.4,0,0,2017,6,2
2017-06-22,Uluru,3.6,25.300000,0.0,5.4,5.6,0.048900,22.0,0.068892,0.062849,...,1019.1,4.0,7.0,10.9,24.5,0,0,2017,6,2
2017-06-23,Uluru,5.4,26.900000,0.0,3.2,0.0,0.068747,37.0,0.068892,0.062739,...,1016.8,4.0,0.0,12.5,26.1,0,0,2017,6,2
2017-06-24,Uluru,7.8,27.000000,0.0,1.6,6.6,0.069847,28.0,0.067737,0.062849,...,1016.5,3.0,2.0,15.1,26.0,0,0,2017,6,2
2017-06-25,Uluru,14.9,30.383195,0.0,8.0,10.9,0.068074,54.0,0.056359,0.060126,...,1017.9,8.0,8.0,15.0,20.9,0,1,2017,6,2

In [17]:
location_encoder = OrdinalEncoder(encoding_method='arbitrary',
                                  variables=['Location'])
location_encoder.fit(data)
# location_encoder.encoder_dict_
data = location_encoder.transform(data)
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year,Month,Quarter
0,2008-12-01,0,13.4,22.900000,0.6,1.4,9.5,0.073518,44.0,0.062725,...,1007.1,8.0,4.0,16.9,21.8,0,0,2008,12,4
1,2008-12-02,0,7.4,25.100000,0.0,0.8,0.3,0.060821,44.0,0.059164,...,1007.8,7.0,0.0,17.2,24.3,0,0,2008,12,4
2,2008-12-03,0,12.9,25.700000,0.0,6.2,4.7,0.067063,46.0,0.062725,...,1008.7,0.0,2.0,21.0,23.2,0,0,2008,12,4
3,2008-12-04,0,9.2,28.000000,0.0,3.8,3.0,0.052729,24.0,0.068892,...,1012.8,4.0,3.0,18.1,26.5,0,0,2008,12,4
4,2008-12-05,0,17.5,32.300000,1.0,3.6,11.6,0.073518,41.0,0.058243,...,1006.0,7.0,8.0,17.8,29.7,0,0,2008,12,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,48,2.8,23.400000,0.0,5.0,10.8,0.068074,31.0,0.068892,...,1020.3,8.0,7.0,10.1,22.4,0,0,2017,6,2
145456,2017-06-22,48,3.6,25.300000,0.0,5.4,5.6,0.048900,22.0,0.068892,...,1019.1,4.0,7.0,10.9,24.5,0,0,2017,6,2
145457,2017-06-23,48,5.4,26.900000,0.0,3.2,0.0,0.068747,37.0,0.068892,...,1016.8,4.0,0.0,12.5,26.1,0,0,2017,6,2
145458,2017-06-24,48,7.8,27.000000,0.0,1.6,6.6,0.069847,28.0,0.067737,...,1016.5,3.0,2.0,15.1,26.0,0,0,2017,6,2
145459,2017-06-25,48,14.9,30.383195,0.0,8.0,10.9,0.068074,54.0,0.056359,...,1017.9,8.0,8.0,15.0,20.9,0,1,2017,6,2

### regression feature selection

In [64]:
# for testing get small sample
data_copy = data.sample(n=1000, random_state=64)
data_copy

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year,Month,Quarter
74386,2015-11-10,24,15.9,21.9,0.0,10.8,0.9,0.067757,41.0,0.064018,...,1017.4,1.0,8.0,16.5,19.7,0,0,2015,11,4
43445,2011-06-17,14,9.5,18.2,0.0,4.0,10.3,0.067063,76.0,0.056249,...,1005.1,5.0,5.0,14.3,15.4,0,0,2011,6,2
7497,2013-03-18,2,11.0,27.2,0.0,8.4,9.7,0.052729,26.0,0.068892,...,1016.2,1.0,2.0,15.7,25.7,0,0,2013,3,1
18422,2009-11-04,6,19.1,21.0,0.0,4.6,9.6,0.067757,44.0,0.068892,...,1015.5,1.0,3.0,19.7,19.3,0,0,2009,11,4
50156,2012-02-08,16,15.8,22.3,0.0,6.4,1.9,0.059975,33.0,0.058243,...,1010.1,8.0,8.0,16.7,21.0,0,0,2012,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44198,2013-09-06,14,16.1,20.3,0.0,4.2,4.3,0.067757,31.0,0.064018,...,1023.3,0.0,4.0,18.3,19.6,0,0,2013,9,3
34751,2012-06-15,11,10.8,21.5,0.0,1.6,3.5,0.068747,30.0,0.064733,...,1013.0,7.0,5.0,13.3,21.0,0,0,2012,6,2
13189,2012-02-27,4,19.7,30.5,3.2,2.6,6.0,0.048563,43.0,0.058243,...,1015.3,7.0,7.0,22.7,28.7,1,0,2012,2,1
38549,2014-10-11,12,6.4,30.1,0.0,5.2,12.0,0.068074,22.0,0.067895,...,1013.2,1.0,1.0,16.6,29.2,0,0,2014,10,4
141509,2015-04-23,46,24.1,33.5,0.0,5.6,10.9,0.052729,30.0,0.067895,...,1007.7,6.0,4.0,27.5,32.8,0,0,2015,4,2

In [67]:
temp = data_copy.drop(['RainTomorrow', 'Date'], axis=1)
y = data_copy['RainTomorrow']
features = SelectKBest(score_func=f_regression, k=10)
selected_features = features.fit_transform(temp, y)
selected_features

array([[ 0. ,  0.9, 41. , ...,  1. , 19.7,  0. ],
       [ 0. , 10.3, 76. , ...,  5. , 15.4,  0. ],
       [ 0. ,  9.7, 26. , ...,  1. , 25.7,  0. ],
       ...,
       [ 3.2,  6. , 43. , ...,  7. , 28.7,  1. ],
       [ 0. , 12. , 22. , ...,  1. , 29.2,  0. ],
       [ 0. , 10.9, 30. , ...,  6. , 32.8,  0. ]])

In [197]:
input_feature = ['Rainfall', 'Sunshine', 'WindGustSpeed', 'Humidity9am', 'Humidity3pm',
                 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'RainToday']
train_x, test_x, train_y, test_y = train_test_split(temp[input_feature], y, test_size=0.2, random_state=64)
train_x.shape, test_x.shape

((800, 10), (200, 10))

## CART implementation

- calculate GINI index

In [ ]:
def gini_score(groups, classes):
    score = 0.0
    n_instance = np.sum([len(group) for group in groups])
    for group in groups:
        class_values = 0.0

        if len(group) == 0:
            continue

        for cls in classes:
            class_values += np.power(np.sum(group.iloc[:, -1] == cls) / len(group), 2)

        # weighted score
        score += (len(group) / n_instance) * (1 - class_values)

    return score

- splitter function

In [ ]:
def splitter(index, column, dataset):
    left = dataset[dataset.iloc[:, column] < dataset.iloc[index, column]]
    right = dataset[dataset.iloc[:, column] >= dataset.iloc[index, column]]

    return left, right

- find best split point

In [ ]:
def find_split_point(dataset):
    classes = set(dataset.iloc[:, -1])
    features = list(dataset.columns)
    dataset = dataset.reset_index().drop('index', axis=1)
    t_index, t_value, t_score, t_groups = 99999, 99999, 99999, None

    for col in range(len(features) - 1):
        for index in dataset.index:
            groups = splitter(index, col, dataset)
            score = gini_score(groups, classes)

            if score < t_score:
                t_index, t_score, t_value, t_groups = col, score, dataset.iloc[index, col], groups

    return {"index": t_index,
            "value": t_value,
            "groups": t_groups}

- terminator function to stop growing tree when stopping criteria reached

In [ ]:
def to_terminal(group):
    outcome = list(group.iloc[:, -1])

    return max(outcome, key=outcome.count)