In [7]:
import random
import pandas as pd
import numpy as np
import scipy.stats as ss
import seaborn as sns
import plotly.graph_objs as go
from plotly.offline import plot
from feature_engine.encoding import OrdinalEncoder
from sklearn.neighbors import KNeighborsClassifier as KNN
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.model_selection import train_test_split, RepeatedStratifiedKFold, cross_val_score

In [2]:
data = pd.read_pickle('../data/aus_weather_cln.pkl')
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.900000,0.6,1.4,9.5,0.073518,44.0,0.062725,...,71.0,22.0,1007.7,1007.1,8.0,4.0,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.100000,0.0,0.8,0.3,0.060821,44.0,0.059164,...,44.0,25.0,1010.6,1007.8,7.0,0.0,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.700000,0.0,6.2,4.7,0.067063,46.0,0.062725,...,38.0,30.0,1007.6,1008.7,0.0,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.000000,0.0,3.8,3.0,0.052729,24.0,0.068892,...,45.0,16.0,1017.6,1012.8,4.0,3.0,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.300000,1.0,3.6,11.6,0.073518,41.0,0.058243,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.400000,0.0,5.0,10.8,0.068074,31.0,0.068892,...,51.0,24.0,1024.6,1020.3,8.0,7.0,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.300000,0.0,5.4,5.6,0.048900,22.0,0.068892,...,56.0,21.0,1023.5,1019.1,4.0,7.0,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.900000,0.0,3.2,0.0,0.068747,37.0,0.068892,...,53.0,24.0,1021.0,1016.8,4.0,0.0,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.000000,0.0,1.6,6.6,0.069847,28.0,0.067737,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,30.383195,0.0,8.0,10.9,0.068074,54.0,0.056359,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,Yes

In [3]:
data['Date'] = pd.to_datetime(data['Date'])

In [4]:
data['RainToday'] = data['RainToday'].apply(lambda x: 1 if x == 'Yes' else 0)
data['RainTomorrow'] = data['RainTomorrow'].apply(lambda x: 1 if x == 'Yes' else 0)
data[['RainToday', 'RainTomorrow']]

        RainToday  RainTomorrow
0               0             0
1               0             0
2               0             0
3               0             0
4               0             0
...           ...           ...
145455          0             0
145456          0             0
145457          0             0
145458          0             0
145459          0             1

[145460 rows x 2 columns]

In [5]:
data['Year'] = data['Date'].dt.year
data['Month'] = data['Date'].dt.month
data['Quarter'] = data['Date'].dt.quarter
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year,Month,Quarter
0,2008-12-01,Albury,13.4,22.900000,0.6,1.4,9.5,0.073518,44.0,0.062725,...,1007.1,8.0,4.0,16.9,21.8,0,0,2008,12,4
1,2008-12-02,Albury,7.4,25.100000,0.0,0.8,0.3,0.060821,44.0,0.059164,...,1007.8,7.0,0.0,17.2,24.3,0,0,2008,12,4
2,2008-12-03,Albury,12.9,25.700000,0.0,6.2,4.7,0.067063,46.0,0.062725,...,1008.7,0.0,2.0,21.0,23.2,0,0,2008,12,4
3,2008-12-04,Albury,9.2,28.000000,0.0,3.8,3.0,0.052729,24.0,0.068892,...,1012.8,4.0,3.0,18.1,26.5,0,0,2008,12,4
4,2008-12-05,Albury,17.5,32.300000,1.0,3.6,11.6,0.073518,41.0,0.058243,...,1006.0,7.0,8.0,17.8,29.7,0,0,2008,12,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.400000,0.0,5.0,10.8,0.068074,31.0,0.068892,...,1020.3,8.0,7.0,10.1,22.4,0,0,2017,6,2
145456,2017-06-22,Uluru,3.6,25.300000,0.0,5.4,5.6,0.048900,22.0,0.068892,...,1019.1,4.0,7.0,10.9,24.5,0,0,2017,6,2
145457,2017-06-23,Uluru,5.4,26.900000,0.0,3.2,0.0,0.068747,37.0,0.068892,...,1016.8,4.0,0.0,12.5,26.1,0,0,2017,6,2
145458,2017-06-24,Uluru,7.8,27.000000,0.0,1.6,6.6,0.069847,28.0,0.067737,...,1016.5,3.0,2.0,15.1,26.0,0,0,2017,6,2
145459,2017-06-25,Uluru,14.9,30.383195,0.0,8.0,10.9,0.068074,54.0,0.056359,...,1017.9,8.0,8.0,15.0,20.9,0,1,2017,6,2

In [6]:
data.set_index('Date', inplace=True)
data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year,Month,Quarter
Date,,,,,,,,,,,,,,,,,,,,,
2008-12-01,Albury,13.4,22.900000,0.6,1.4,9.5,0.073518,44.0,0.062725,0.062739,...,1007.1,8.0,4.0,16.9,21.8,0,0,2008,12,4
2008-12-02,Albury,7.4,25.100000,0.0,0.8,0.3,0.060821,44.0,0.059164,0.067469,...,1007.8,7.0,0.0,17.2,24.3,0,0,2008,12,4
2008-12-03,Albury,12.9,25.700000,0.0,6.2,4.7,0.067063,46.0,0.062725,0.067469,...,1008.7,0.0,2.0,21.0,23.2,0,0,2008,12,4
2008-12-04,Albury,9.2,28.000000,0.0,3.8,3.0,0.052729,24.0,0.068892,0.059989,...,1012.8,4.0,3.0,18.1,26.5,0,0,2008,12,4
2008-12-05,Albury,17.5,32.300000,1.0,3.6,11.6,0.073518,41.0,0.058243,0.060876,...,1006.0,7.0,8.0,17.8,29.7,0,0,2008,12,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-06-21,Uluru,2.8,23.400000,0.0,5.0,10.8,0.068074,31.0,0.068892,0.055685,...,1020.3,8.0,7.0,10.1,22.4,0,0,2017,6,2
2017-06-22,Uluru,3.6,25.300000,0.0,5.4,5.6,0.048900,22.0,0.068892,0.062849,...,1019.1,4.0,7.0,10.9,24.5,0,0,2017,6,2
2017-06-23,Uluru,5.4,26.900000,0.0,3.2,0.0,0.068747,37.0,0.068892,0.062739,...,1016.8,4.0,0.0,12.5,26.1,0,0,2017,6,2
2017-06-24,Uluru,7.8,27.000000,0.0,1.6,6.6,0.069847,28.0,0.067737,0.062849,...,1016.5,3.0,2.0,15.1,26.0,0,0,2017,6,2
2017-06-25,Uluru,14.9,30.383195,0.0,8.0,10.9,0.068074,54.0,0.056359,0.060126,...,1017.9,8.0,8.0,15.0,20.9,0,1,2017,6,2

In [8]:
location_encoder = OrdinalEncoder(encoding_method='arbitrary',
                                  variables=['Location'])
location_encoder.fit(data)
# location_encoder.encoder_dict_
data = location_encoder.transform(data)
data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year,Month,Quarter
Date,,,,,,,,,,,,,,,,,,,,,
2008-12-01,0,13.4,22.900000,0.6,1.4,9.5,0.073518,44.0,0.062725,0.062739,...,1007.1,8.0,4.0,16.9,21.8,0,0,2008,12,4
2008-12-02,0,7.4,25.100000,0.0,0.8,0.3,0.060821,44.0,0.059164,0.067469,...,1007.8,7.0,0.0,17.2,24.3,0,0,2008,12,4
2008-12-03,0,12.9,25.700000,0.0,6.2,4.7,0.067063,46.0,0.062725,0.067469,...,1008.7,0.0,2.0,21.0,23.2,0,0,2008,12,4
2008-12-04,0,9.2,28.000000,0.0,3.8,3.0,0.052729,24.0,0.068892,0.059989,...,1012.8,4.0,3.0,18.1,26.5,0,0,2008,12,4
2008-12-05,0,17.5,32.300000,1.0,3.6,11.6,0.073518,41.0,0.058243,0.060876,...,1006.0,7.0,8.0,17.8,29.7,0,0,2008,12,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-06-21,48,2.8,23.400000,0.0,5.0,10.8,0.068074,31.0,0.068892,0.055685,...,1020.3,8.0,7.0,10.1,22.4,0,0,2017,6,2
2017-06-22,48,3.6,25.300000,0.0,5.4,5.6,0.048900,22.0,0.068892,0.062849,...,1019.1,4.0,7.0,10.9,24.5,0,0,2017,6,2
2017-06-23,48,5.4,26.900000,0.0,3.2,0.0,0.068747,37.0,0.068892,0.062739,...,1016.8,4.0,0.0,12.5,26.1,0,0,2017,6,2
2017-06-24,48,7.8,27.000000,0.0,1.6,6.6,0.069847,28.0,0.067737,0.062849,...,1016.5,3.0,2.0,15.1,26.0,0,0,2017,6,2
2017-06-25,48,14.9,30.383195,0.0,8.0,10.9,0.068074,54.0,0.056359,0.060126,...,1017.9,8.0,8.0,15.0,20.9,0,1,2017,6,2

### regression feature selection

In [9]:
temp = data.drop('RainTomorrow', axis=1)
y = data['RainTomorrow']
features = SelectKBest(score_func=f_regression, k=10)
selected_features = features.fit_transform(temp, y)
selected_features

array([[ 0.6,  9.5, 44. , ...,  8. ,  4. ,  0. ],
       [ 0. ,  0.3, 44. , ...,  7. ,  0. ,  0. ],
       [ 0. ,  4.7, 46. , ...,  0. ,  2. ,  0. ],
       ...,
       [ 0. ,  0. , 37. , ...,  4. ,  0. ,  0. ],
       [ 0. ,  6.6, 28. , ...,  3. ,  2. ,  0. ],
       [ 0. , 10.9, 54. , ...,  8. ,  8. ,  0. ]])

In [10]:
input_feature = ['Location', 'Rainfall', 'Sunshine', 'WindGustSpeed', 'Humidity9am', 'Humidity3pm',
                 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'RainToday']
train_x, test_x, train_y, test_y = train_test_split(temp[input_feature], y, test_size=0.2, random_state=64)
train_x.shape, test_x.shape

((116368, 11), (29092, 11))

### model building

In [11]:
# baseline model - n_neighbors = 3
model_b = KNN(n_neighbors=3)
model_b.fit(train_x,train_y)

KNeighborsClassifier(n_neighbors=3)

In [13]:
# score with train set
model_b.score(train_x,train_y)

0.8911900178743297

In [14]:
# score with test set
model_b.score(test_x,test_y)

0.8158600302488657

In [15]:
model_k5 = KNN(n_neighbors=5)
model_k7 = KNN(n_neighbors=7)
model_k9 = KNN(n_neighbors=9)

model_k5.fit(train_x,train_y)
model_k7.fit(train_x,train_y)
model_k9.fit(train_x,train_y)

model_k5.score(test_x,test_y), model_k7.score(test_x,test_y), model_k9.score(test_x,test_y)

(0.8258627801457445, 0.8322562903891104, 0.834868692424034)

### use normalize data

In [16]:
def minmax_normalizer(dataframe):
    norm_data = pd.DataFrame()
    for col in dataframe:
        col_min = np.min(dataframe[col])
        col_max = np.max(dataframe[col])
        norm_data[col] = (dataframe[col] - col_min)/(col_max - col_min)

    return norm_data

In [17]:
train_x = minmax_normalizer(train_x)
test_x = minmax_normalizer(test_x)

In [18]:
train_x

,Location,Rainfall,Sunshine,WindGustSpeed,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,RainToday
Date,,,,,,,,,,,
2009-08-25,0.416667,0.016866,0.724138,0.713178,0.398023,0.370828,0.372712,0.355200,0.222222,0.333333,1.0
2012-02-12,0.229167,0.010337,0.600000,0.209302,0.638495,0.676162,0.580699,0.585600,0.111111,0.777778,1.0
2014-03-25,0.770833,0.000000,0.075862,0.155039,0.663372,0.944485,0.648918,0.692800,0.111111,0.333333,0.0
2011-08-04,0.104167,0.001088,0.620690,0.286822,0.621911,0.454101,0.650590,0.616178,0.000000,0.000000,0.0
2010-06-18,0.083333,0.019587,0.324138,0.139535,0.829215,0.472606,0.660566,0.644800,0.888889,0.555556,1.0
...,...,...,...,...,...,...,...,...,...,...,...
2012-04-04,0.875000,0.017410,0.365517,0.395349,0.820922,0.805697,0.509151,0.539200,0.777778,0.000000,1.0
2009-06-02,0.333333,0.000000,0.275862,0.155039,0.671664,0.629899,0.850250,0.819200,0.222222,0.666667,0.0
2011-09-10,0.604167,0.000000,0.737931,0.294574,0.240472,0.407839,0.617304,0.596800,0.111111,0.666667,0.0
2016-12-22,0.583333,0.001632,0.496552,0.255814,0.489237,0.611394,0.570715,0.593600,0.777778,0.777778,0.0
2017-01-03,0.250000,0.000000,0.317241,0.395349,0.406315,0.278303,0.615641,0.588800,0.333333,0.888889,0.0

In [19]:
test_x

,Location,Rainfall,Sunshine,WindGustSpeed,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,RainToday
Date,,,,,,,,,,,
2015-11-10,0.500000,0.000000,0.062937,0.265625,0.609724,0.620772,0.577739,0.625899,0.111111,1.000,0.0
2011-06-17,0.291667,0.000000,0.720280,0.539062,0.508104,0.494362,0.409894,0.404676,0.555556,0.625,0.0
2013-03-18,0.041667,0.000000,0.678322,0.148438,0.332577,0.286690,0.598940,0.604317,0.111111,0.250,0.0
2009-11-04,0.125000,0.000000,0.671329,0.289062,0.711345,0.801357,0.577739,0.591727,0.111111,0.375,0.0
2012-02-08,0.333333,0.000000,0.132867,0.203125,0.711345,0.638830,0.468198,0.494604,0.888889,1.000,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2009-09-08,0.166667,0.000539,0.790210,0.281250,0.517342,0.413099,0.593061,0.603990,0.666667,0.750,0.0
2014-01-15,0.895833,0.000000,0.629371,0.234375,0.498865,0.711064,0.492933,0.577338,0.888889,0.125,0.0
2012-01-26,0.437500,0.000000,0.867133,0.335938,0.646677,0.539509,0.611307,0.620504,0.777778,0.125,0.0
2015-10-05,0.854167,0.000000,0.335664,0.367188,0.554295,0.367953,0.581750,0.585605,0.777778,0.125,0.0
2010-07-12,0.520833,0.000539,0.559441,0.250000,0.785251,0.611743,0.616608,0.598921,0.111111,0.500,0.0

### training with diffrent k as well as normalize data

In [20]:
model_k3 = KNN(n_neighbors=3)
model_k5 = KNN(n_neighbors=5)
model_k7 = KNN(n_neighbors=7)
model_k9 = KNN(n_neighbors=9)

model_k3.fit(train_x,train_y)
model_k5.fit(train_x,train_y)
model_k7.fit(train_x,train_y)
model_k9.fit(train_x,train_y)

model_k3.score(test_x,test_y), model_k5.score(test_x,test_y), model_k7.score(test_x,test_y), model_k9.score(test_x,test_y)

(0.806888491681562, 0.8188505431046336, 0.8236284889316651, 0.8263440120995462)