In [1]:
import numpy as np
import pandas as pd
import scipy.stats as ss
import plotly.express as px
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
data = pd.read_csv('data/weatherAUS.csv')
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [3]:
data['Date'] = pd.to_datetime(data['Date'])
data.set_index('Date',inplace=True)
data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
Date,,,,,,,,,,,,,,,,,,,,,
2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,ENE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,N,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,WNW,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,N,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

## Identify data types and measurement levels of dataset

In [4]:
numerical = data.select_dtypes(include=np.number)
categorical = data.select_dtypes(include=np.object)

In [5]:
numerical.head(5).T

Date           2008-12-01  2008-12-02  2008-12-03  2008-12-04  2008-12-05
MinTemp              13.4         7.4        12.9         9.2        17.5
MaxTemp              22.9        25.1        25.7        28.0        32.3
Rainfall              0.6         0.0         0.0         0.0         1.0
Evaporation           NaN         NaN         NaN         NaN         NaN
Sunshine              NaN         NaN         NaN         NaN         NaN
WindGustSpeed        44.0        44.0        46.0        24.0        41.0
WindSpeed9am         20.0         4.0        19.0        11.0         7.0
WindSpeed3pm         24.0        22.0        26.0         9.0        20.0
Humidity9am          71.0        44.0        38.0        45.0        82.0
Humidity3pm          22.0        25.0        30.0        16.0        33.0
Pressure9am        1007.7      1010.6      1007.6      1017.6      1010.8
Pressure3pm        1007.1      1007.8      1008.7      1012.8      1006.0
Cloud9am              8.0         NaN         NaN         NaN         7.0
Cloud3pm              NaN         NaN         2.0         NaN         8.0
Temp9am              16.9        17.2        21.0        18.1        17.8
Temp3pm              21.8        24.3        23.2        26.5        29.7

In [6]:
categorical.head(5).T

Date         2008-12-01 2008-12-02 2008-12-03 2008-12-04 2008-12-05
Location         Albury     Albury     Albury     Albury     Albury
WindGustDir           W        WNW        WSW         NE          W
WindDir9am            W        NNW          W         SE        ENE
WindDir3pm          WNW        WSW        WSW          E         NW
RainToday            No         No         No         No         No
RainTomorrow         No         No         No         No         No

In [7]:
numerical.nunique()

MinTemp          389
MaxTemp          505
Rainfall         681
Evaporation      358
Sunshine         145
WindGustSpeed     67
WindSpeed9am      43
WindSpeed3pm      44
Humidity9am      101
Humidity3pm      101
Pressure9am      546
Pressure3pm      549
Cloud9am          10
Cloud3pm          10
Temp9am          441
Temp3pm          502
dtype: int64

In [11]:
numerical['Evaporation'].unique()

array([     nan, 1.20e+01, 1.48e+01, 1.26e+01, 1.08e+01, 1.14e+01,
       1.12e+01, 1.30e+01, 9.80e+00, 1.46e+01, 1.10e+01, 1.28e+01,
       1.38e+01, 1.64e+01, 1.74e+01, 1.60e+01, 1.36e+01, 8.00e+00,
       8.20e+00, 8.60e+00, 1.42e+01, 1.58e+01, 1.62e+01, 1.34e+01,
       1.44e+01, 1.18e+01, 1.56e+01, 1.52e+01, 1.16e+01, 9.60e+00,
       6.60e+00, 6.00e-01, 6.00e+00, 3.00e+00, 2.00e+00, 5.20e+00,
       9.00e+00, 1.02e+01, 1.00e+01, 7.40e+00, 8.40e+00, 9.20e+00,
       9.40e+00, 1.24e+01, 1.04e+01, 7.20e+00, 6.80e+00, 7.60e+00,
       4.40e+00, 6.40e+00, 7.80e+00, 7.00e+00, 8.80e+00, 6.20e+00,
       5.80e+00, 2.00e-01, 2.40e+00, 1.80e+00, 2.20e+00, 2.80e+00,
       5.00e+00, 5.60e+00, 4.80e+00, 4.20e+00, 4.00e+00, 3.20e+00,
       4.60e+00, 3.40e+00, 3.60e+00, 0.00e+00, 1.40e+00, 3.80e+00,
       8.00e-01, 2.60e+00, 1.60e+00, 1.20e+00, 1.00e+00, 5.40e+00,
       1.06e+01, 1.68e+01, 1.70e+01, 2.02e+01, 1.40e+01, 1.72e+01,
       1.22e+01, 1.50e+01, 1.82e+01, 1.32e+01, 4.10e+00, 1.70e+00,
       4.00e-01, 1.90e+00, 6.48e+01, 3.20e+01, 2.62e+01, 2.46e+01,
       2.33e+01, 1.54e+01, 3.26e+01, 3.04e+01, 3.44e+01, 1.80e+01,
       4.94e+01, 1.88e+01, 1.90e+01, 1.84e+01, 8.10e+00, 4.90e+00,
       2.52e+01, 2.40e+01, 2.24e+01, 1.66e+01, 4.88e+01, 5.62e+01,
       3.70e+01, 5.24e+01, 1.76e+01, 6.30e+00, 2.00e+01, 2.14e+01,
       2.50e+01, 1.78e+01, 2.56e+01, 1.86e+01, 2.16e+01, 3.54e+01,
       2.30e+01, 2.20e+01, 3.08e+01, 1.11e+01, 1.98e+01, 3.32e+01,
       8.62e+01, 5.54e+01, 6.58e+01, 5.64e+01, 3.12e+01, 2.18e+01,
       5.70e+00, 2.70e+00, 1.30e+00, 2.50e+00, 3.30e+00, 9.90e+00,
       2.30e+00, 7.00e-01, 2.10e+00, 1.10e+00, 2.90e+00, 1.50e+00,
       3.10e+00, 6.10e+00, 1.96e+01, 9.70e+00, 1.05e+01, 5.90e+00,
       9.30e+00, 2.04e+01, 1.21e+01, 3.06e+01, 2.42e+01, 3.00e-01,
       4.72e+01, 1.92e+01, 3.84e+01, 3.46e+01, 2.36e+01, 4.42e+01,
       3.22e+01, 3.14e+01, 3.42e+01, 2.06e+01, 2.68e+01, 2.26e+01,
       2.38e+01, 3.86e+01, 2.64e+01, 4.68e+01, 4.24e+01, 4.66e+01,
       6.02e+01, 3.76e+01, 3.64e+01, 4.84e+01, 4.36e+01, 3.50e+01,
       5.04e+01, 3.58e+01, 5.40e+01, 4.12e+01, 3.28e+01, 3.56e+01,
       3.10e+01, 3.24e+01, 1.94e+01, 6.08e+01, 2.74e+01, 4.34e+01,
       2.70e+01, 3.68e+01, 2.54e+01, 5.72e+01, 2.86e+01, 3.36e+01,
       3.74e+01, 2.34e+01, 4.30e+01, 3.62e+01, 3.16e+01, 3.92e+01,
       2.58e+01, 6.54e+01, 4.04e+01, 2.60e+01, 2.12e+01, 7.10e+00,
       7.48e+01, 3.72e+01, 2.88e+01, 5.30e+00, 4.70e+00, 8.70e+00,
       3.90e+00, 3.50e+00, 9.50e+00, 9.00e-01, 3.02e+01, 1.47e+01,
       1.31e+01, 7.50e+00, 8.30e+00, 5.10e+00, 3.70e+00, 5.50e+00,
       1.81e+01, 4.30e+00, 2.10e+01, 3.38e+01, 4.50e+00, 2.05e+01,
       1.19e+01, 6.90e+00, 7.70e+00, 9.10e+00, 1.09e+01, 1.97e+01,
       1.01e+01, 6.70e+00, 5.00e-01, 1.39e+01, 1.25e+01, 1.00e-01,
       1.45e+01, 1.91e+01, 1.71e+01, 7.30e+00, 2.51e+01, 2.22e+01,
       2.72e+01, 1.93e+01, 6.50e+00, 2.76e+01, 1.15e+01, 2.28e+01,
       2.84e+01, 2.08e+01, 3.94e+01, 2.78e+01, 2.82e+01, 2.66e+01,
       3.30e+01, 2.98e+01, 2.32e+01, 3.34e+01, 2.80e+01, 3.80e+01,
       4.00e+01, 2.92e+01, 2.94e+01, 3.88e+01, 6.44e+01, 3.00e+01,
       2.44e+01, 2.48e+01, 5.92e+01, 1.45e+02, 4.70e+01, 8.90e+00,
       1.35e+01, 8.50e+00, 1.13e+01, 4.40e+01, 7.90e+00, 4.44e+01,
       2.21e+01, 3.66e+01, 4.06e+01, 3.60e+01, 3.40e+01, 1.49e+01,
       4.26e+01, 1.43e+01, 1.03e+01, 1.17e+01, 1.07e+01, 8.12e+01,
       6.30e+01, 7.00e+01, 5.48e+01, 5.98e+01, 7.22e+01, 6.40e+01,
       5.96e+01, 5.90e+01, 4.23e+01, 1.27e+01, 1.77e+01, 2.25e+01,
       1.53e+01, 3.52e+01, 3.45e+01, 2.31e+01, 4.22e+01, 8.24e+01,
       4.20e+01, 4.32e+01, 6.20e+01, 7.73e+01, 1.33e+01, 5.52e+01,
       5.80e+01, 5.76e+01, 5.56e+01, 4.62e+01, 5.50e+01, 5.08e+01,
       5.10e+01, 6.88e+01, 5.16e+01, 5.85e+01, 5.58e+01, 5.36e+01,
       2.55e+01, 5.60e+01, 4.80e+01, 7.04e+01, 5.94e+01, 5.66e+01,
       1.41e+01, 1.23e+01, 1.51e+01, 1.65e+01, 6.72e+01, 4.18e+01,
       4.08e+01, 5.02e+01, 4.16e+01, 4.28e+01, 3.96e+01])

In [12]:
numerical['Sunshine'].unique()

array([ nan, 12.3, 13. , 13.3, 10.6, 12.2,  8.4,  0. , 12.6, 13.2, 12.7,
       12.1, 10.3, 13.1, 12.9, 11.3,  6.9, 10.9,  3.7,  5.9, 10.5, 12.4,
       13.4, 13.6,  7.4, 10. ,  2.3,  6.6,  0.3, 10.7, 11.6, 10.2,  9. ,
       12. ,  3. ,  7.9, 11.5, 11.2,  4.8,  5.8,  6. , 11.1, 11.8, 11.4,
       10.8,  7.8, 11. ,  5.5,  4.7,  4.2,  4.4,  6.2,  9.8,  9.9,  4.3,
        8. ,  9.6, 10.4,  9.3,  8.7,  7.6,  7.5, 10.1,  6.3,  2.8,  0.7,
        9.4,  9.7,  0.6,  5.1,  8.3,  4.1,  3.9,  6.8,  8.6,  2.7,  8.2,
        3.1,  1.8,  0.1,  0.8,  3.4,  7.1,  5. ,  5.7,  6.1,  7. ,  2.9,
        2.5,  4.6,  8.9,  9.1,  1.7,  8.1,  9.5,  1.2,  1.4,  8.8,  2.2,
        3.5,  9.2,  1.9, 11.7, 11.9,  7.7,  0.9, 12.5,  2.1, 12.8, 13.7,
        8.5,  0.2,  4. ,  2.4,  5.2,  0.5,  6.4,  4.5,  1.1,  2. ,  0.4,
        1.5,  3.3,  6.5,  2.6,  3.8,  3.6,  3.2,  6.7,  5.4,  7.2,  4.9,
        1. ,  1.6,  5.3,  7.3,  5.6,  1.3, 13.8, 13.5, 14. , 13.9, 14.1,
       14.5, 14.3, 14.2])

In [13]:
numerical['Cloud3pm'].unique()

array([nan,  2.,  8.,  7.,  1.,  5.,  4.,  6.,  3.,  0.,  9.])

## measurement levels of features

### nominal scale
* location
* windGustDir
* windDir9am, windDir3pm
* rainToday, rainTomorrow

### continues scale

- possible interval level features
   * min/ max temperature
   * temp9am and temp3pm
   * date

- possible ratio level features
    * rainfall
    * wind speed
    * humidity
    * pressure
    * evaporation
    * sunshine

### discrete scale
* cloud9am
* cloude3pm

## EDA

### central tendency